*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
}
// ::selection {
// 	background: $color-text;
// 	color: #fff;
// }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  @media only screen and (max-width: $tab-land) {
    font-size: 55%;
  }
  @media only screen and (max-width: $mbl-land) {
    font-size: 50%;
  }
  // @media only screen and (max-width: $mbl-small) {
  //   font-size: 45%;
  // }
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-secondary;
  overflow-x: hidden;
}

.main {
  background-color: $color-white;
}

.custom-container {
  max-width: 120rem;
  margin: 0 auto;

  @media only screen and (max-width: $laptop-land) {
    padding: 0 2rem;
  }
}

.swiper {
  overflow: visible;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5rem;
  display: none;
  @media only screen and (max-width: $mbl-land) {
    display: block;
  }
}

.swiper-pagination-bullet {
  width: 4rem;
  background-color: #14ba88;
  opacity: 0.5;
  border-radius: 0.4rem;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
