.nav {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  &__logo {
    width: 18.3rem;
    height: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 5rem;

    @media only screen and (max-width: $tab-land) {
      display: none;
    }
  }

  &__link {
    font-size: 1.6rem;
    font-weight: 700;
    color: #262638;
    text-decoration: none;

    &:hover {
      color: #262638;
    }
  }

  &__btn {
    @media only screen and (max-width: $tab-land) {
      display: none;
    }
  }
}

.mbl-bars {
  display: none;
  position: fixed;
  top: 3.5rem;
  right: 3rem;
  cursor: pointer;

  @media only screen and (max-width: $tab-land) {
    display: block;
  }
  .bars {
    height: 3.5rem;
    width: 4.5rem;

    img {
      @include img-size;
    }
  }
}
