.article-section {
  padding: 8rem 0 0 0;
  background-color: $color-primary;

  .btn {
    background-color: $color-secondary;
    color: $color-white;
  }

  .swiper-pagination-bullet {
    width: 4rem;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 0.4rem;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.article {
  &__item {
    border-radius: 1rem;
  }

  &__img {
    // height: 29.5rem;
    height: auto;
    width: 100%;
    border-radius: 2rem;
    background-color: $color-primary;
    position: relative;
    z-index: 1;

    img {
      @include img-size;
      border-radius: 1rem;
    }
  }

  .details {
    padding: 4rem;
    background-color: $color-white;
    border-radius: 0 0 1rem 1rem;
    margin-top: -1.5rem;
    position: relative;
    z-index: 0;

    h5 {
      font-size: 2.4rem;
      font-weight: 600;
      color: $color-secondary;
    }

    .text {
      font-size: 1.8rem;
      font-weight: 400;
      color: #101010;
      line-height: 2.5rem;
      opacity: 0.6;
    }
  }

  .read {
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-secondary;
    text-decoration: none;
  }

  &__img-big {
    height: 100rem;
    width: 100%;

    @media only screen and (max-width: $tab-land) {
      height: 52rem;
    }
    @media only screen and (max-width: $mbl-port) {
      height: 32rem;
    }
    @media only screen and (max-width: $mbl-small) {
      height: 25rem;
    }
    img {
      object-fit: cover;
      object-position: top center;
      @include img-size;

      @media only screen and (max-width: $tab-land) {
        object-position: top center;
      }
    }
  }
}

.contact-section {
  background-image: radial-gradient(#61d3b0, #0eb885);
  padding: 8rem 0;
}
