.forum-section {
  // background-color: $color-primary;
  // padding: ;
  // height: 112rem;
  position: relative;
  background-image: radial-gradient(#61d3b0, #0eb885);

  .forum__container {
    position: relative;
    z-index: 1;

    .btn {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  .forum-img {
    height: 68rem;
    width: 100%;
    position: relative;
    z-index: 0;

    @media only screen and (max-width: $mbl-land) {
      height: 45rem;
    }

    img {
      @include img-size;
      object-fit: cover;
      object-position: left;
    }
  }
}
