.join-section {
  padding: 8rem 0;
}

.join {
  padding: 0 8rem;
  &__list {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    gap: 5rem 12rem;
    margin-bottom: 12rem;

    @media only screen and (max-width: $tab-land) {
      gap: 5rem 3rem;
    }
  }
  &__item {
    background-color: $color-primary;
    text-align: center;
    padding: 8rem 4rem;
    border-radius: 40rem;

    @media only screen and (max-width: $tab-land) {
      padding: 8rem 3rem;
    }
    @media only screen and (max-width: $tab-port) {
      background-color: transparent;
      text-align: center;
      padding: 0 4rem;
      border-radius: 0;
    }

    h3 {
      font-size: 3.2rem;
    }

    .text {
      font-size: 2.4rem;
    }
  }

  @media only screen and (max-width: $tab-port) {
    &__img-1 {
      background: $color-primary;
      height: 80rem;
      border-radius: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
