.platform-section {
  padding: 8rem 0;
  position: relative;

  .platform-side-img {
    position: absolute;

    @media only screen and (max-width: $tab-land) {
      display: none;
    }
  }
  .platform-side-img-1 {
    height: 33rem;
    width: 33rem;
    top: -5rem;
    left: -5rem;
  }
  .platform-side-img-2 {
    height: 46rem;
    width: 46rem;
    bottom: -10rem;
    right: -10rem;
  }
}

.platform {
  &__list {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    gap: 5rem 0;
  }
  &__item {
    padding: 0 4rem;
  }

  &__img {
    height: 21rem;
    width: 17rem;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10rem;
  }
}
