.projects-section {
  padding: 8rem 0;

  .swiper {
    overflow: visible;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -5rem;
  }

  .swiper-pagination-bullet {
    width: 4rem;
    background-color: #14ba88;
    opacity: 0.5;
    border-radius: 0.4rem;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  h2 {
    margin-bottom: 3rem !important;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 4rem;
    background-color: #14ba88;
    opacity: 0.5;
    display: none;
    margin-top: 6rem;

    @media only screen and (max-width: $tab-port) {
      display: block;
    }
  }

  .owl-theme .owl-dots .owl-dot.active span {
    opacity: 1;
  }

  .owl-carousel .owl-stage-outer {
    overflow: visible;
  }
}

.project {
  position: relative;

  &__item {
    height: 55rem;
    background-color: #008e64;
    position: relative;
    padding: 5.4rem 4rem;

    h4 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 2rem;
      max-width: 24rem;
      width: 50%;

      @media only screen and (max-width: $tab-port) {
        font-size: 2.2222222rem;
        line-height: 1.8rem;
      }
      @media only screen and (max-width: $mbl-port) {
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }

    figure {
      max-height: 46rem;
      height: 60%;
      max-width: 35rem;
      width: 60%;
      background-color: $color-white;
      position: absolute;
      bottom: -1rem;
      right: 5rem;
    }
  }
}

.owl-theme .owl-nav {
  display: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: #fff;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0a0b11;
  text-transform: uppercase;
  z-index: 3;
  display: none;
  cursor: none;
}
