.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60%;
  background-color: $color-primary;
  z-index: 5;
  padding: 3.5rem;
  transform: translateX(-100%);
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &__logo {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__link {
    font-size: 2.4rem;
    font-weight: 600;
    color: $color-white;
    text-decoration: none;
  }

  &__btn {
    background-color: $color-white;
    border: 1px solid $color-white;
    color: $color-primary;

    &:hover {
      background-color: transparent;
      color: $color-white;
    }
  }
}

.show-sidebar {
  transform: translateX(0);
}
